.price-table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: yellow;
	width: 80%;
	
}
.price-table caption {
	border-radius: 10%;
}
.price-table .head {
	text-align: center;
	border-style: solid;
	border-color: red;
	color: white;
	background-color: red;
}

.price-table tr {
	padding: 5px;
	margin: 5px;
}
.price-table .th_row {
	padding: 5px;
	background-color: orange;
	text-align: center;
}