body{ 
	font: 14px sans-serif; 
	text-align: center; 
}

.site_head {
	border-style: solid;
	border-color: #4682B4;
	color: white;
}

.site_head .site_name {
	background-color: #4682B4;
	
	font-size: 36px;
	padding: 5px;
}

.site_head em {
	color: #DDD474;
}

.site_nav {
	background-color: white;
	color: black;
	padding-bottom: 5px;
}
.my_primary {
	border-color: #4682B4;
	color: white;
	background-color: #4682B4;
}

.my_primary:hover {
	background-color: #2C5171;
	color: white;
}

.my_delete {
	background-color:#A69F57;
	border-color: #A69F57;
	color: white;
}
.my_delete:hover {
	background-color: #6E6A3A;
	color: white;
}

.my-table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	background-color: white;
	border-style: solid;
	border-color: #4682B4;
	border-radius: 25%;
	width: 80%;
	
}

.my-table caption {
	border-radius: 5%;
}

.my-table .head {
	text-align: center;
	border-style: solid;
	border-color: #4682B4;
	color: white;
	background-color: #4682B4;
}

.my-table tr {
	padding: 5px;
	margin: 5px;
}

.my-table tr:hover {
	background-color: #F5F5F5;
}
.my-table .th_row {
	padding: 5px;
	background-color: #DDD474;
	text-align: center;
}
